<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <!-- 配置一个servlet 过滤器 -->
    <filter>
        <filter-name>LogFilter</filter-name>
        <filter-class>filters.LogFilter</filter-class>
        <init-param>
            <param-name>Site</param-name>
            <param-value>JavaWeb学习</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>LogFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- 配置一个servlet 异常处理 -->
    <servlet>
        <servlet-name>ErrorHandler</servlet-name>
        <servlet-class>ErrorHandler</servlet-class>
    </servlet>
    <!-- servlet mappings -->
    <servlet-mapping>
        <servlet-name>ErrorHandler</servlet-name>
        <url-pattern>/ErrorHandler</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/ErrorHandler</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type >
        <location>/ErrorHandler</location>
    </error-page>

    <!-- 配置一个servlet -->
    <servlet>
        <!-- servlet的内部名称，自定义。尽量有意义 -->
        <servlet-name>HTMLServlet</servlet-name>
        <!-- servlet的类全名： 包名+简单类名 -->
        <servlet-class>HTMLServlet</servlet-class>
    </servlet>
    <!-- servlet的映射配置 -->
    <servlet-mapping>
        <!-- servlet的内部名称，一定要和上面的内部名称保持一致！！ -->
        <servlet-name>HTMLServlet</servlet-name>
        <!-- servlet的映射路径（访问servlet的名称） -->
        <url-pattern>/servlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <!-- servlet的内部名称，自定义。尽量有意义 -->
        <servlet-name>LoginServlet</servlet-name>
        <!-- servlet的类全名： 包名+简单类名 -->
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <!-- servlet的映射配置 -->
    <servlet-mapping>
        <!-- servlet的内部名称，一定要和上面的内部名称保持一致！！ -->
        <servlet-name>LoginServlet</servlet-name>
        <!-- servlet的映射路径（访问servlet的名称） -->
        <url-pattern>/login</url-pattern>
    </servlet-mapping>


    <servlet>
        <!-- servlet的内部名称，自定义。尽量有意义 -->
        <servlet-name>HeaderServlet</servlet-name>
        <!-- servlet的类全名： 包名+简单类名 -->
        <servlet-class>HeaderServlet</servlet-class>
    </servlet>
    <!-- servlet的映射配置 -->
    <servlet-mapping>
        <!-- servlet的内部名称，一定要和上面的内部名称保持一致！！ -->
        <servlet-name>HeaderServlet</servlet-name>
        <!-- servlet的映射路径（访问servlet的名称） -->
        <url-pattern>/header</url-pattern>
    </servlet-mapping>

    <servlet>
        <!-- servlet的内部名称，自定义。尽量有意义 -->
        <servlet-name>CookieServlet</servlet-name>
        <!-- servlet的类全名： 包名+简单类名 -->
        <servlet-class>CookieServlet</servlet-class>
    </servlet>
    <!-- servlet的映射配置 -->
    <servlet-mapping>
        <!-- servlet的内部名称，一定要和上面的内部名称保持一致！！ -->
        <servlet-name>CookieServlet</servlet-name>
        <!-- servlet的映射路径（访问servlet的名称） -->
        <url-pattern>/cookie</url-pattern>
    </servlet-mapping>


    <servlet>
        <!-- servlet的内部名称，自定义。尽量有意义 -->
        <servlet-name>UploadServlet</servlet-name>
        <!-- servlet的类全名： 包名+简单类名 -->
        <servlet-class>UploadServlet</servlet-class>
    </servlet>
    <!-- servlet的映射配置 -->
    <servlet-mapping>
        <!-- servlet的内部名称，一定要和上面的内部名称保持一致！！ -->
        <servlet-name>UploadServlet</servlet-name>
        <!-- servlet的映射路径（访问servlet的名称） -->
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>


    <servlet>
        <!-- servlet的内部名称，自定义。尽量有意义 -->
        <servlet-name>RefreshServlet</servlet-name>
        <!-- servlet的类全名： 包名+简单类名 -->
        <servlet-class>RefreshServlet</servlet-class>
    </servlet>
    <!-- servlet的映射配置 -->
    <servlet-mapping>
        <!-- servlet的内部名称，一定要和上面的内部名称保持一致！！ -->
        <servlet-name>RefreshServlet</servlet-name>
        <!-- servlet的映射路径（访问servlet的名称） -->
        <url-pattern>/refresh</url-pattern>
    </servlet-mapping>

    <servlet>
        <!-- servlet的内部名称，自定义。尽量有意义 -->
        <servlet-name>SendEmailServlet</servlet-name>
        <!-- servlet的类全名： 包名+简单类名 -->
        <servlet-class>SendEmailServlet</servlet-class>
    </servlet>
    <!-- servlet的映射配置 -->
    <servlet-mapping>
        <!-- servlet的内部名称，一定要和上面的内部名称保持一致！！ -->
        <servlet-name>SendEmailServlet</servlet-name>
        <!-- servlet的映射路径（访问servlet的名称） -->
        <url-pattern>/sendEmail</url-pattern>
    </servlet-mapping>

    <servlet>
        <!-- servlet的内部名称，自定义。尽量有意义 -->
        <servlet-name>JsonServlet</servlet-name>
        <!-- servlet的类全名： 包名+简单类名 -->
        <servlet-class>JsonServlet</servlet-class>
    </servlet>
    <!-- servlet的映射配置 -->
    <servlet-mapping>
        <!-- servlet的内部名称，一定要和上面的内部名称保持一致！！ -->
        <servlet-name>JsonServlet</servlet-name>
        <!-- servlet的映射路径（访问servlet的名称） -->
        <url-pattern>/json</url-pattern>
    </servlet-mapping>

    <servlet>
        <!-- servlet的内部名称，自定义。尽量有意义 -->
        <servlet-name>OnMyPermissionServlet</servlet-name>
        <!-- servlet的类全名： 包名+简单类名 -->
        <servlet-class>OnMyPermissionServlet</servlet-class>
    </servlet>
    <!-- servlet的映射配置 -->
    <servlet-mapping>
        <!-- servlet的内部名称，一定要和上面的内部名称保持一致！！ -->
        <servlet-name>OnMyPermissionServlet</servlet-name>
        <!-- servlet的映射路径（访问servlet的名称） -->
        <url-pattern>/v1/login</url-pattern>
    </servlet-mapping>


    <!-- 欢迎页配置 -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>